<style>

	h1 {
		text-align: center;
	}
	.resources {
		text-align: center;
		display: inline-block;
	}

	.resources ul {
		list-style-type: none;
	}

	#resource {
		border: 1px solid black;
		margin: 25px;
		text-align: center;
		padding: 30px;
		display: inline-block;
		width: 300px;
		
	}
</style>

<h1>Resources Page</h1>

<div class = "resources">
	<ul>
		<li id = 'resource'>Math</li>
		<li id = 'resource'>Science</li>
		<li id = 'resource'>English</li>
		<li id = 'resource'>History</li>
		<li id = 'resource'>Foreign Language</li>
		<li id = 'resource'>Standardized Testing</li>
	</ul>
</div>